{
  "openapi": "3.1.0",
  "info": {
    "x-generated-rate-limit-policy-from": "web/src/lib/rate-limit-facts.ts via web/scripts/generate-api-policy.ts",
    "title": "0xinsider API",
    "description": "Follow provider-exposed large-trade activity from Polymarket. Polymarket wallet-attributed trades can add grades, P&L, strategy, and diagnostic-score context when sufficient source data exists. Fields can be null or unavailable. Normal API requests use a 30-second server timeout that returns HTTP 408 Request Timeout with the standard error envelope (error.code request_timeout) when exceeded. Every /api/v1 failure answers that envelope, including a body that is not JSON or does not fit the request schema (400 invalid_body), a query or path value that does not parse (400 invalid_query, invalid_path), a missing Content-Type: application/json (415 unsupported_media_type), a body over 1048576 bytes (413 payload_too_large) and a method the path does not serve (405 method_not_allowed), each with error.param naming the field where one is known and meta.request_id equal to X-Request-Id. Unknown query names are ignored by default and reported in X-Query-Ignored, while X-Effective-Query lists the normalized names and values applied; strict mode returns 400 bad_request with error.reason unknown_query_parameter before the handler runs. Public REST /api/v1/* endpoints, excluding /api/v1/mcp, use Bearer-token based non-credentialed browser CORS: any Origin may call with Authorization, Content-Type, If-None-Match, Idempotency-Key, Mcp-Session-Id, Mcp-Protocol-Version, Last-Event-Id, and X-Query-Validation request headers. X-Query-Validation: strict opts into rejecting unknown query names; the default remains compatible. Remote MCP at /api/v1/mcp is non-credentialed, but still validates Origin against the 0xinsider/localhost allowlist per MCP Streamable HTTP DNS-rebinding guidance. Successful browser CORS preflight responses advertise Access-Control-Max-Age: 86400. Browser JavaScript may read RateLimit-Limit, RateLimit-Remaining, RateLimit-Reset, the legacy X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset, Retry-After, ETag, X-Request-Id, X-Request-Cost, X-Usage-Accounting, X-Batch-RateLimit-Limit, X-Batch-RateLimit-Remaining, X-Batch-RateLimit-Reset, Mcp-Session-Id, X-Mcp-Error-Code, X-Query-Ignored, and X-Effective-Query response headers. Rate-limit headers describe the budget a request was counted against: the API key's per-minute window on an authenticated call, and the per-IP budget on a public route or on a refused credential (401, 402, 403, 423), so a client looping on a bad or lapsed key still sees how much room it has. Conditional GET: these operations return a weak ETag and answer If-None-Match with 304 Not Modified and an empty body: GET /api/v1/health, GET /api/v1/insider-radar, GET /api/v1/insider-radar/{id}, GET /api/v1/large-positions, GET /api/v1/leaderboard, GET /api/v1/leaderboard/trending, GET /api/v1/market/{condition_id}/candles, GET /api/v1/market/{condition_id}/intel, GET /api/v1/market/{condition_id}/snapshot, GET /api/v1/markets/explore, GET /api/v1/markets/sharp-money-flows, GET /api/v1/markets/smart-money-flows, GET /api/v1/pick-of-the-day, GET /api/v1/pick-of-the-day/archive, GET /api/v1/positions, GET /api/v1/sports-edge-observations, GET /api/v1/sports-edge-signals, GET /api/v1/trader/{address}, GET /api/v1/trader/{address}/context, GET /api/v1/trader/{address}/pnl, GET /api/v1/trader/{address}/position-timeline, GET /api/v1/traders/{trader}/position-timeline, GET /api/v1/whale-trades, GET /api/v1/whale-trades/history, GET /api/v1/whale-trades/{id}, GET /api/v1/whale-trades/{id}/counterparties/executions, GET /api/v1/whale-trades/{id}/counterparties/executions/{execution_id}/makers. Credentialed first-party routes such as /api/keys, /api/billing, and auth endpoints remain restricted to configured 0xinsider origins. Protected V1 responses, except the zero-cost /api/v1/usage route, after handler execution carry X-Usage-Accounting: persisted, failed, or unknown. This reports the usage-record write; it does not change the handler result. Do not replay a successful mutation to repair an unknown usage record. Before execution, unavailable accounting capacity returns HTTP 503 with error.reason=request_accounting_unavailable; honor Retry-After. Public API responses add the browser-readable Server-Timing header: Processing time in milliseconds, for example api;dur=12.345. Includes API authentication, quota admission, handler work and response construction. Excludes network transit and streamed body or export-file transfer. The engineering budget is strictly below 250 ms; this header reports observations, not a latency guarantee or a new timeout.",
    "version": "1.0.0",
    "contact": {
      "name": "0xinsider",
      "email": "support@0xinsider.com",
      "url": "https://0xinsider.com"
    }
  },
  "externalDocs": {
    "description": "0xinsider API docs",
    "url": "https://docs.0xinsider.com"
  },
  "servers": [
    {
      "url": "https://api.0xinsider.com",
      "description": "Production (live data). Authenticate with a live key (oxi_sk_live_...); requires an active Pro subscription. A sandbox key (oxi_sk_test_...) is answered with 401 invalid_api_key and error.reason sandbox_api_key."
    },
    {
      "url": "https://0xinsider.com/sandbox",
      "description": "Sandbox. No credential required and no production data: every documented operation answers with its documented example or a deterministic sample of its response schema. Add ?sandbox_status=<code> to receive one of the error responses the operation documents (for example 429 with Retry-After). Request bodies and parameters are not validated, streams and file downloads are not simulated, and nothing is stored. A sandbox key (oxi_sk_test_..., issued with no account by POST https://api.0xinsider.com/api/v1/agents/register) is optional: on an operation that requires a credential, a well-formed key is answered with X-Oxi-Sandbox-Key: valid and a malformed one with 401 invalid_api_key."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "oauth2": ["read"]
    }
  ],
  "paths": {
    "/api/v1": {
      "get": {
        "operationId": "getApiDiscovery",
        "summary": "API discovery",
        "description": "Unauthenticated API-origin discovery document pointing agents to the canonical API base URL, full docs, web-origin OpenAPI spec, health check, and the COMPLETE index of authenticated data routes. data.authenticated_routes is the whole authenticated route surface, not a sample: it carries every authenticated route this spec documents, so an agent that starts here never has to guess a path. The index is a hand-maintained const in backend/src/api_v1/discovery.rs kept in step with this spec by review; no automated check compares the two, so treat this spec as authoritative if they ever disagree.",
        "tags": ["System"],
        "security": [],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl 'https://api.0xinsider.com/api/v1'"
          }
        ],
        "parameters": [
          {"name": "X-Query-Validation", "in": "header", "required": false, "description": "Opt into strict query-name validation. The default is compatible: unknown names are ignored and reported in X-Query-Ignored. With strict, an unknown name returns 400 bad_request with error.reason unknown_query_parameter before the handler runs.", "schema": {"type": "string", "enum": ["strict"]}}
        ],
        "responses": {
          "200": {
            "description": "API discovery document",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["object", "data", "meta"],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "api_discovery"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ApiDiscovery"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                },
                "example": {
                  "object": "api_discovery",
                  "data": {
                    "api_base_url": "https://api.0xinsider.com",
                    "docs_url": "https://0xinsider.com/llms-full.txt",
                    "openapi_url": "https://0xinsider.com/api/v1/openapi.json",
                    "health_url": "https://api.0xinsider.com/api/v1/health",
                    "authentication": "Bearer API key required for data endpoints; discovery (/api/v1), health, /api/v1/platforms, the Pick of the Day commitment ledger (/api/v1/pick-of-the-day/ledger), and the MCP handshake (initialize, ping, tools/list on /api/v1/mcp) are public. A 401 carries WWW-Authenticate with the resource_metadata URL.",
                    "protected_resource_metadata_url": "https://api.0xinsider.com/.well-known/oauth-protected-resource",
                    "authenticated_routes": [
                      "GET /api/v1/leaderboard",
                      "GET /api/v1/content/search",
                      "GET /api/v1/markets/search",
                      "GET /api/v1/pick-of-the-day",
                      "GET /api/v1/positions",
                      "GET /api/v1/trader/{address}",
                      "GET /api/v1/whale-trades",
                      "POST /api/v1/traders/batch"
                    ]
                  },
                  "meta": {
                    "request_id": "req_550e8400-e29b-41d4-a716-446655440000",
                    "cached": false,
                    "cost": 1
                  }
                }
              }
            },
            "headers": {
              "X-Query-Ignored": {
                "$ref": "#/components/headers/X-Query-Ignored"
              },
              "X-Effective-Query": {
                "$ref": "#/components/headers/X-Effective-Query"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/Server-Timing"
              }
            }
          },
          "408": {
            "description": "The handler did not answer inside the server's 30-second timeout. error.code is request_timeout. On GET and HEAD the response carries Retry-After and error.retry_at; on a mutation it carries neither, because the request may have completed on the server: check its state before repeating it, and reuse its Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Three independent budgets. (1) 100 requests/minute per user (sliding window), on every authenticated route. (2) On the BATCH routes only: 2500 batch item units/minute per user, reserved before any item is executed. A batch with N requested items costs N item units, including duplicate and invalid items. 2500 = 100 requests x 25 items per batch, which is the most item work a key can buy through the request limiter at all: a caller may spend their entire 100-request minute on full 25-item batches without the item budget being what stops them. The REQUEST budget is the effective ceiling, and batching is never the more expensive choice. The item budget can still deny at a sliding-window boundary (both counters carry the previous window forward with a floor, and the item counter runs 25x the request counter), so honor a 429 from either. Over-quota batches return 429 with Retry-After plus RateLimit-Limit, RateLimit-Remaining, and RateLimit-Reset before any item work is done. (3) The monthly quota: Pro includes 250,000 authenticated requests per UTC calendar month, whatever the billing cadence. Over 250,000: with pay as you go on, requests keep answering and the excess bills at USD 0.20 per 1,000 on a monthly invoice, up to 1,000,000 requests a month; without it, from 1 October 2026 the next request answers 429 rate_limited with error.reason monthly_quota_exceeded and a Retry-After to the month's reset, and from the same day a pay-as-you-go account answers the same past 1,000,000. A refused request is not counted. Every authenticated response carries X-Monthly-Quota-Limit, X-Monthly-Quota-Remaining, and X-Monthly-Quota-Reset (unix seconds, the first of next month). (4) The per-address budget: 1200 requests/minute per IP, shared by every caller behind one address and counted before authentication, on every route. A 429 from it carries error.reason ip_rate_limited and describes that bucket in RateLimit-*; a throttled address (sustained over-limit traffic) carries error.reason ip_throttled with a Retry-After of minutes to days, and a request before it does not shorten the cooldown. Every 429 is the standard error envelope with meta.request_id equal to X-Request-Id.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until rate limit resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-latency-budget": {
          "milliseconds": 250,
          "measurement": "response-ready",
          "requirement": "engineering-budget"
        }
      }
    },
    "/api/v1/openapi.json": {
      "get": {
        "operationId": "redirectApiOpenapiSpec",
        "summary": "Redirect to the canonical OpenAPI spec",
        "description": "Unauthenticated API-origin compatibility redirect to the canonical web-origin OpenAPI JSON document at https://0xinsider.com/api/v1/openapi.json.",
        "tags": ["System"],
        "security": [],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -I 'https://api.0xinsider.com/api/v1/openapi.json'"
          }
        ],
        "parameters": [
          {"name": "X-Query-Validation", "in": "header", "required": false, "description": "Opt into strict query-name validation. The default is compatible: unknown names are ignored and reported in X-Query-Ignored. With strict, an unknown name returns 400 bad_request with error.reason unknown_query_parameter before the handler runs.", "schema": {"type": "string", "enum": ["strict"]}}
        ],
        "responses": {
          "307": {
            "description": "Temporary redirect to the canonical web-origin OpenAPI spec.",
            "headers": {
              "Location": {
                "description": "Canonical web-origin OpenAPI document.",
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/Server-Timing"
              }
            },
            "x-empty-body": true
          },
          "408": {
            "description": "The handler did not answer inside the server's 30-second timeout. error.code is request_timeout. On GET and HEAD the response carries Retry-After and error.retry_at; on a mutation it carries neither, because the request may have completed on the server: check its state before repeating it, and reuse its Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Three independent budgets. (1) 100 requests/minute per user (sliding window), on every authenticated route. (2) On the BATCH routes only: 2500 batch item units/minute per user, reserved before any item is executed. A batch with N requested items costs N item units, including duplicate and invalid items. 2500 = 100 requests x 25 items per batch, which is the most item work a key can buy through the request limiter at all: a caller may spend their entire 100-request minute on full 25-item batches without the item budget being what stops them. The REQUEST budget is the effective ceiling, and batching is never the more expensive choice. The item budget can still deny at a sliding-window boundary (both counters carry the previous window forward with a floor, and the item counter runs 25x the request counter), so honor a 429 from either. Over-quota batches return 429 with Retry-After plus RateLimit-Limit, RateLimit-Remaining, and RateLimit-Reset before any item work is done. (3) The monthly quota: Pro includes 250,000 authenticated requests per UTC calendar month, whatever the billing cadence. Over 250,000: with pay as you go on, requests keep answering and the excess bills at USD 0.20 per 1,000 on a monthly invoice, up to 1,000,000 requests a month; without it, from 1 October 2026 the next request answers 429 rate_limited with error.reason monthly_quota_exceeded and a Retry-After to the month's reset, and from the same day a pay-as-you-go account answers the same past 1,000,000. A refused request is not counted. Every authenticated response carries X-Monthly-Quota-Limit, X-Monthly-Quota-Remaining, and X-Monthly-Quota-Reset (unix seconds, the first of next month). (4) The per-address budget: 1200 requests/minute per IP, shared by every caller behind one address and counted before authentication, on every route. A 429 from it carries error.reason ip_rate_limited and describes that bucket in RateLimit-*; a throttled address (sustained over-limit traffic) carries error.reason ip_throttled with a Retry-After of minutes to days, and a request before it does not shorten the cooldown. Every 429 is the standard error envelope with meta.request_id equal to X-Request-Id.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until rate limit resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-latency-budget": {
          "milliseconds": 250,
          "measurement": "response-ready",
          "requirement": "engineering-budget"
        }
      }
    },
    "/api/v1/agents/register": {
      "post": {
        "operationId": "registerAgent",
        "summary": "Register an agent for a sandbox key",
        "description": "Self-serve agent onboarding: no account, no request body, no human step. Returns a sandbox API key (oxi_sk_test_...) and the path to live access. The key works only on the sandbox server (https://0xinsider.com/sandbox/api/v1), where it is optional: send it as Authorization: Bearer to exercise the credential path, and the sandbox answers a malformed key with the production 401. Nothing is stored, so the key cannot be listed or revoked and does not expire; register again for a new one. The live API answers a sandbox key with 401 invalid_api_key and error.reason sandbox_api_key. Live data needs an account with an active Pro subscription, and either an oxi_sk_live_ key from https://0xinsider.com/developers or an OAuth access token (https://0xinsider.com/auth.md). The request body is not read.",
        "tags": ["Onboarding"],
        "security": [],
        "parameters": [
          {"name": "X-Query-Validation", "in": "header", "required": false, "description": "Opt into strict query-name validation. The default is compatible: unknown names are ignored and reported in X-Query-Ignored. With strict, an unknown name returns 400 bad_request with error.reason unknown_query_parameter before the handler runs.", "schema": {"type": "string", "enum": ["strict"]}}
        ],
        "responses": {
          "201": {
            "description": "A new sandbox key. Every call returns a different key, with Cache-Control: private, no-store.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["object", "data", "meta"],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "agent_registration"
                    },
                    "data": {
                      "$ref": "#/components/schemas/AgentRegistration"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "object": "agent_registration",
                      "data": {
                        "api_key": "oxi_sk_test_7c1e9a4b2d6f0835e1a7c9b4d2f60e83a5c17b9d4e2f6a0c8b3d5e715853be48",
                        "livemode": false,
                        "environment": "sandbox",
                        "created_at": "2026-09-14T12:00:00Z",
                        "sandbox": {
                          "api_base_url": "https://0xinsider.com/sandbox/api/v1",
                          "first_request_url": "https://0xinsider.com/sandbox/api/v1/leaderboard",
                          "openapi_url": "https://0xinsider.com/sandbox/api/v1/openapi.json"
                        },
                        "live_access": {
                          "api_base_url": "https://api.0xinsider.com/api/v1",
                          "requirement": "An 0xinsider account with an active Pro subscription. A person creates a live key (oxi_sk_live_) at api_keys_url, or approves an OAuth grant for a client registered at oauth_registration_endpoint.",
                          "api_keys_url": "https://0xinsider.com/developers",
                          "oauth_authorization_server_metadata_url": "https://api.0xinsider.com/.well-known/oauth-authorization-server",
                          "oauth_registration_endpoint": "https://api.0xinsider.com/oauth/register",
                          "pricing_url": "https://0xinsider.com/pricing",
                          "auth_guide_url": "https://0xinsider.com/auth.md"
                        }
                      },
                      "meta": {
                        "request_id": "req_example",
                        "cached": false,
                        "cost": 1
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "X-Query-Ignored": {
                "$ref": "#/components/headers/X-Query-Ignored"
              },
              "X-Effective-Query": {
                "$ref": "#/components/headers/X-Effective-Query"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/Server-Timing"
              }
            }
          },
          "408": {
            "description": "The handler did not answer inside the server's 30-second timeout. error.code is request_timeout. On GET and HEAD the response carries Retry-After and error.retry_at; on a mutation it carries neither, because the request may have completed on the server: check its state before repeating it, and reuse its Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Three independent budgets. (1) 100 requests/minute per user (sliding window), on every authenticated route. (2) On the BATCH routes only: 2500 batch item units/minute per user, reserved before any item is executed. A batch with N requested items costs N item units, including duplicate and invalid items. 2500 = 100 requests x 25 items per batch, which is the most item work a key can buy through the request limiter at all: a caller may spend their entire 100-request minute on full 25-item batches without the item budget being what stops them. The REQUEST budget is the effective ceiling, and batching is never the more expensive choice. The item budget can still deny at a sliding-window boundary (both counters carry the previous window forward with a floor, and the item counter runs 25x the request counter), so honor a 429 from either. Over-quota batches return 429 with Retry-After plus RateLimit-Limit, RateLimit-Remaining, and RateLimit-Reset before any item work is done. (3) The monthly quota: Pro includes 250,000 authenticated requests per UTC calendar month, whatever the billing cadence. Over 250,000: with pay as you go on, requests keep answering and the excess bills at USD 0.20 per 1,000 on a monthly invoice, up to 1,000,000 requests a month; without it, from 1 October 2026 the next request answers 429 rate_limited with error.reason monthly_quota_exceeded and a Retry-After to the month's reset, and from the same day a pay-as-you-go account answers the same past 1,000,000. A refused request is not counted. Every authenticated response carries X-Monthly-Quota-Limit, X-Monthly-Quota-Remaining, and X-Monthly-Quota-Reset (unix seconds, the first of next month). (4) The per-address budget: 1200 requests/minute per IP, shared by every caller behind one address and counted before authentication, on every route. A 429 from it carries error.reason ip_rate_limited and describes that bucket in RateLimit-*; a throttled address (sustained over-limit traffic) carries error.reason ip_throttled with a Retry-After of minutes to days, and a request before it does not shorten the cooldown. Every 429 is the standard error envelope with meta.request_id equal to X-Request-Id.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until rate limit resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -sS -X POST 'https://api.0xinsider.com/api/v1/agents/register'"
          }
        ],
        "x-examples": {
          "success": {
            "object": "agent_registration",
            "data": {
              "api_key": "oxi_sk_test_7c1e9a4b2d6f0835e1a7c9b4d2f60e83a5c17b9d4e2f6a0c8b3d5e715853be48",
              "livemode": false,
              "environment": "sandbox",
              "created_at": "2026-09-14T12:00:00Z",
              "sandbox": {
                "api_base_url": "https://0xinsider.com/sandbox/api/v1",
                "first_request_url": "https://0xinsider.com/sandbox/api/v1/leaderboard",
                "openapi_url": "https://0xinsider.com/sandbox/api/v1/openapi.json"
              },
              "live_access": {
                "api_base_url": "https://api.0xinsider.com/api/v1",
                "requirement": "An 0xinsider account with an active Pro subscription. A person creates a live key (oxi_sk_live_) at api_keys_url, or approves an OAuth grant for a client registered at oauth_registration_endpoint.",
                "api_keys_url": "https://0xinsider.com/developers",
                "oauth_authorization_server_metadata_url": "https://api.0xinsider.com/.well-known/oauth-authorization-server",
                "oauth_registration_endpoint": "https://api.0xinsider.com/oauth/register",
                "pricing_url": "https://0xinsider.com/pricing",
                "auth_guide_url": "https://0xinsider.com/auth.md"
              }
            },
            "meta": {
              "request_id": "req_example",
              "cached": false,
              "cost": 1
            }
          }
        },
        "x-latency-budget": {
          "milliseconds": 250,
          "measurement": "response-ready",
          "requirement": "engineering-budget"
        }
      }
    },
    "/api/v1/trader/{address}": {
      "get": {
        "operationId": "getTrader",
        "summary": "Get trader intelligence",
        "description": "Returns a trader's grade (S through F; ranked about 95% by realized profit, with calibration, track record, and consistency as a tie-breaker and proven-trader guardrails), P&L, win rate, and optional strategy/category data. The path accepts either an Ethereum wallet address, a known trader username, or a trd_-prefixed trader ID emitted by this API. Unknown lookups return sync_status \"unknown\" instead of 404.",
        "tags": ["Traders"],
        "parameters": [
          {"name": "X-Query-Validation", "in": "header", "required": false, "description": "Opt into strict query-name validation. The default is compatible: unknown names are ignored and reported in X-Query-Ignored. With strict, an unknown name returns 400 bad_request with error.reason unknown_query_parameter before the handler runs.", "schema": {"type": "string", "enum": ["strict"]}},
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Ethereum wallet address (0x...), known trader username, or trd_-prefixed trader ID emitted by this API.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand[]",
            "in": "query",
            "required": false,
            "description": "Backward-compatible alias for expand. Repeatable: strategy, categories, quant_metrics, trust.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["strategy", "categories", "quant_metrics", "trust"]
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "description": "Include heavy fields and trust metadata. Repeatable: strategy, categories, quant_metrics, trust.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["strategy", "categories", "quant_metrics", "trust"]
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "description": "Conditional GET validator from a previous ETag. Matching values return 304 Not Modified with an empty body.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trader profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["object", "data", "meta"],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "trader"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Trader"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "object": "trader",
                      "data": {
                        "id": "trd_0xabc1230000000000000000000000000000000abc",
                        "address": "0xabc1230000000000000000000000000000000abc",
                        "username": "example_trader",
                        "grade": "D",
                        "score": 40.17,
                        "pnl": { "total": -1882.16, "unrealized": 135.56 },
                        "stats": { "markets_traded": 1889, "win_rate": 0.6199, "daily_win_rate": 0.5299 },
                        "strategy": {
                          "strategy_type": "directional",
                          "description": "Trader with no earlier matched classification pattern with high_frequency, consistent, multi_category, high_conviction. Active across 1802 markets. Categories: Soccer 41.0%, Weather 21.6%, Esports 18.4%."
                        },
                        "last_active": "2026-09-10T02:04:30.398422Z",
                        "synced_at": "2026-09-10T02:04:30.398422Z",
                        "sync_status": "synced"
                      },
                      "meta": { "request_id": "req_example", "cached": false, "cost": 1 }
                    }
                  }
                }
              }
            },
            "headers": {
              "X-Query-Ignored": {
                "$ref": "#/components/headers/X-Query-Ignored"
              },
              "X-Effective-Query": {
                "$ref": "#/components/headers/X-Effective-Query"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "X-Usage-Accounting": {
                "$ref": "#/components/headers/X-Usage-Accounting"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/Server-Timing"
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current payload.",
            "headers": {
              "X-Query-Ignored": {
                "$ref": "#/components/headers/X-Query-Ignored"
              },
              "X-Effective-Query": {
                "$ref": "#/components/headers/X-Effective-Query"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-Usage-Accounting": {
                "$ref": "#/components/headers/X-Usage-Accounting"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/Server-Timing"
              }
            },
            "x-empty-body": true
          },
          "400": {
            "description": "Invalid request parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "402": {
            "description": "Active Pro subscription required. The key is valid but the account has no active Pro subscription; error.reason is subscription_inactive and error.message names the reactivation URL (https://0xinsider.com/billing). Permanent until a person reactivates: no Retry-After, never retry on a schedule.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Account access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "408": {
            "description": "The handler did not answer inside the server's 30-second timeout. error.code is request_timeout. On GET and HEAD the response carries Retry-After and error.retry_at; on a mutation it carries neither, because the request may have completed on the server: check its state before repeating it, and reuse its Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "423": {
            "description": "Account is locked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Three independent budgets. (1) 100 requests/minute per user (sliding window), on every authenticated route. (2) On the BATCH routes only: 2500 batch item units/minute per user, reserved before any item is executed. A batch with N requested items costs N item units, including duplicate and invalid items. 2500 = 100 requests x 25 items per batch, which is the most item work a key can buy through the request limiter at all: a caller may spend their entire 100-request minute on full 25-item batches without the item budget being what stops them. The REQUEST budget is the effective ceiling, and batching is never the more expensive choice. The item budget can still deny at a sliding-window boundary (both counters carry the previous window forward with a floor, and the item counter runs 25x the request counter), so honor a 429 from either. Over-quota batches return 429 with Retry-After plus RateLimit-Limit, RateLimit-Remaining, and RateLimit-Reset before any item work is done. (3) The monthly quota: Pro includes 250,000 authenticated requests per UTC calendar month, whatever the billing cadence. Over 250,000: with pay as you go on, requests keep answering and the excess bills at USD 0.20 per 1,000 on a monthly invoice, up to 1,000,000 requests a month; without it, from 1 October 2026 the next request answers 429 rate_limited with error.reason monthly_quota_exceeded and a Retry-After to the month's reset, and from the same day a pay-as-you-go account answers the same past 1,000,000. A refused request is not counted. Every authenticated response carries X-Monthly-Quota-Limit, X-Monthly-Quota-Remaining, and X-Monthly-Quota-Reset (unix seconds, the first of next month). (4) The per-address budget: 1200 requests/minute per IP, shared by every caller behind one address and counted before authentication, on every route. A 429 from it carries error.reason ip_rate_limited and describes that bucket in RateLimit-*; a throttled address (sustained over-limit traffic) carries error.reason ip_throttled with a Retry-After of minutes to days, and a request before it does not shorten the cooldown. Every 429 is the standard error envelope with meta.request_id equal to X-Request-Id.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until rate limit resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Redis-backed authenticated rate limiter unavailable; retry after the per-process outage cooldown",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the middleware will probe the Redis-backed rate limiter again.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -sS \\\n  -H \"Authorization: Bearer $OXINSIDER_API_KEY\" \\\n  'https://api.0xinsider.com/api/v1/trader/{address}'"
          }
        ],
        "x-examples": {
          "success": {
            "object": "trader",
            "data": {},
            "meta": {
              "request_id": "req_example",
              "cached": false,
              "cost": 1
            }
          }
        },
        "x-latency-budget": {
          "milliseconds": 250,
          "measurement": "response-ready",
          "requirement": "engineering-budget"
        }
      }
    },
    "/api/v1/trader/{address}/context.md": {
      "get": {
        "operationId": "getTraderContextMarkdown",
        "summary": "Get trader context (Markdown)",
        "description": "Returns a single human- and LLM-readable Markdown briefing for one trader: identity, grade, P&L, position coverage, and freshness. The path accepts an Ethereum wallet address (0x...), a known trader username, or a trd_-prefixed trader ID emitted by this API. Unknown traders still return 200 with a degraded 'not yet synced' document (no 404). The Markdown variant does not emit an ETag and does not support conditional requests; use the JSON variant (drop the .md suffix) for ETag/If-None-Match handling.",
        "tags": ["Traders"],
        "parameters": [
          {"name": "X-Query-Validation", "in": "header", "required": false, "description": "Opt into strict query-name validation. The default is compatible: unknown names are ignored and reported in X-Query-Ignored. With strict, an unknown name returns 400 bad_request with error.reason unknown_query_parameter before the handler runs.", "schema": {"type": "string", "enum": ["strict"]}},
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Ethereum wallet address (0x...), known trader username, or trd_-prefixed trader ID emitted by this API.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trader context document (Markdown)",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                },
                "example": "# Trader context: @swisstony\n\nAI-ready trader summary from 0xinsider. Reflects backend state as of the data_as_of clock below (a point-in-time snapshot, cached briefly), not request time.\n\n- Data as of: 2026-01-15T12:00:00Z\n- Sync status: synced\n"
              }
            },
            "headers": {
              "X-Query-Ignored": {
                "$ref": "#/components/headers/X-Query-Ignored"
              },
              "X-Effective-Query": {
                "$ref": "#/components/headers/X-Effective-Query"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-Usage-Accounting": {
                "$ref": "#/components/headers/X-Usage-Accounting"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/Server-Timing"
              }
            }
          },
          "400": {
            "description": "Invalid request parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "402": {
            "description": "Active Pro subscription required. The key is valid but the account has no active Pro subscription; error.reason is subscription_inactive and error.message names the reactivation URL (https://0xinsider.com/billing). Permanent until a person reactivates: no Retry-After, never retry on a schedule.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Account access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "408": {
            "description": "The handler did not answer inside the server's 30-second timeout. error.code is request_timeout. On GET and HEAD the response carries Retry-After and error.retry_at; on a mutation it carries neither, because the request may have completed on the server: check its state before repeating it, and reuse its Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "423": {
            "description": "Account is locked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Three independent budgets. (1) 100 requests/minute per user (sliding window), on every authenticated route. (2) On the BATCH routes only: 2500 batch item units/minute per user, reserved before any item is executed. A batch with N requested items costs N item units, including duplicate and invalid items. 2500 = 100 requests x 25 items per batch, which is the most item work a key can buy through the request limiter at all: a caller may spend their entire 100-request minute on full 25-item batches without the item budget being what stops them. The REQUEST budget is the effective ceiling, and batching is never the more expensive choice. The item budget can still deny at a sliding-window boundary (both counters carry the previous window forward with a floor, and the item counter runs 25x the request counter), so honor a 429 from either. Over-quota batches return 429 with Retry-After plus RateLimit-Limit, RateLimit-Remaining, and RateLimit-Reset before any item work is done. (3) The monthly quota: Pro includes 250,000 authenticated requests per UTC calendar month, whatever the billing cadence. Over 250,000: with pay as you go on, requests keep answering and the excess bills at USD 0.20 per 1,000 on a monthly invoice, up to 1,000,000 requests a month; without it, from 1 October 2026 the next request answers 429 rate_limited with error.reason monthly_quota_exceeded and a Retry-After to the month's reset, and from the same day a pay-as-you-go account answers the same past 1,000,000. A refused request is not counted. Every authenticated response carries X-Monthly-Quota-Limit, X-Monthly-Quota-Remaining, and X-Monthly-Quota-Reset (unix seconds, the first of next month). (4) The per-address budget: 1200 requests/minute per IP, shared by every caller behind one address and counted before authentication, on every route. A 429 from it carries error.reason ip_rate_limited and describes that bucket in RateLimit-*; a throttled address (sustained over-limit traffic) carries error.reason ip_throttled with a Retry-After of minutes to days, and a request before it does not shorten the cooldown. Every 429 is the standard error envelope with meta.request_id equal to X-Request-Id.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until rate limit resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Redis-backed authenticated rate limiter unavailable; retry after the per-process outage cooldown",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the middleware will probe the Redis-backed rate limiter again.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -sS \\\n  -H \"Authorization: Bearer $OXINSIDER_API_KEY\" \\\n  'https://api.0xinsider.com/api/v1/trader/{address}/context.md'"
          }
        ],
        "x-latency-budget": {
          "milliseconds": 250,
          "measurement": "response-ready",
          "requirement": "engineering-budget"
        }
      }
    },
    "/api/v1/trader/{address}/context": {
      "get": {
        "operationId": "getTraderContext",
        "summary": "Get trader context (JSON)",
        "description": "Returns a single structured context object for one trader: the full trader profile (same shape as GET /api/v1/trader/{address}) plus a position_summary (sync coverage and realized/unrealized P&L rollups, with an as_of open-position freshness clock), the data_as_of freshness timestamp (the open-position data's latest /positions snapshot, else last completed sync; the snapshot advances only open positions, so resolved counts and win rate still date to the last full sync; native realized P&L follows its accounting snapshot), and a freshness_note describing the point-in-time snapshot semantics. The path accepts an Ethereum wallet address (0x...), a known trader username, or a trd_-prefixed trader ID emitted by this API. position_summary is omitted when the trader is not in the local database or native net economics is unavailable; realized fields remain numeric when present; unknown lookups return 200 with sync_status 'unknown' on the nested trader (no 404). Append .md to the path for the Markdown rendering.",
        "tags": ["Traders"],
        "parameters": [
          {"name": "X-Query-Validation", "in": "header", "required": false, "description": "Opt into strict query-name validation. The default is compatible: unknown names are ignored and reported in X-Query-Ignored. With strict, an unknown name returns 400 bad_request with error.reason unknown_query_parameter before the handler runs.", "schema": {"type": "string", "enum": ["strict"]}},
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Ethereum wallet address (0x...), known trader username, or trd_-prefixed trader ID emitted by this API.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "description": "Conditional GET validator from a previous ETag. Matching values return 304 Not Modified with an empty body.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trader context",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["object", "data", "meta"],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "trader_context"
                    },
                    "data": {
                      "$ref": "#/components/schemas/TraderContext"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "object": "trader_context",
                      "data": {
                        "data_as_of": "2026-09-10T02:04:30.398422Z",
                        "freshness_note": "Point-in-time snapshot. data_as_of is the open-position clock -- the trader's latest position (/positions) snapshot, else the last completed sync. The snapshot advances only open positions; resolved counts and win rate date to the last full sync. Native realized P&L follows its accounting snapshot, whose freshness this clock does not establish. Not a live feed; re-fetch for fresher data.",
                        "trader": {
                          "address": "0xabc1230000000000000000000000000000000abc",
                          "category_records": [
                            {
                              "as_of": "2026-09-22T03:17:17.488299Z",
                              "brier_event_avg": null,
                              "canonical_category": "Esports",
                              "edge_lower_95": null,
                              "edge_mean": null,
                              "edge_sd": null,
                              "edge_se": null,
                              "independent_event_count": 0,
                              "latest_observation_at": null,
                              "model_version": "category-skill-v2.0.0",
                              "observation_started_at": "2026-09-01T21:50:07.762477Z",
                              "platform": "polymarket",
                              "resolved_condition_count": 0,
                              "scope": "observed_goldsky_primary_taker_fill",
                              "source_coverage": "partial_whale_threshold_fills",
                              "source_last_success_at": null,
                              "status": "degraded",
                              "taxonomy_version": "category-taxonomy-643",
                              "unresolved_observation_count": 0
                            },
                            {
                              "as_of": "2026-09-22T03:17:17.488299Z",
                              "brier_event_avg": null,
                              "canonical_category": "Politics",
                              "edge_lower_95": null,
                              "edge_mean": null,
                              "edge_sd": null,
                              "edge_se": null,
                              "independent_event_count": 0,
                              "latest_observation_at": null,
                              "model_version": "category-skill-v2.0.0",
                              "observation_started_at": "2026-09-01T21:50:07.762477Z",
                              "platform": "polymarket",
                              "resolved_condition_count": 0,
                              "scope": "observed_goldsky_primary_taker_fill",
                              "source_coverage": "partial_whale_threshold_fills",
                              "source_last_success_at": null,
                              "status": "degraded",
                              "taxonomy_version": "category-taxonomy-643",
                              "unresolved_observation_count": 0
                            }
                          ],
                          "category_skill_model": {
                            "as_of": "2026-09-22T03:17:17.488299Z",
                            "model_version": "category-skill-v2.0.0",
                            "observation_started_at": "2026-09-01T21:50:07.762477Z",
                            "source_last_success_at": null,
                            "status": "degraded",
                            "taxonomy_version": "category-taxonomy-643"
                          },
                          "grade": "D",
                          "id": "trd_0xabc1230000000000000000000000000000000abc",
                          "last_active": "2026-09-10T02:04:30.398422Z",
                          "pnl": { "total": -1882.16 },
                          "score": 40.17,
                          "stats": { "daily_win_rate": 0.5299, "markets_traded": 1889, "win_rate": 0.6199 },
                          "strategy": {
                            "description": "Trader with no earlier matched classification pattern with high_frequency, consistent, multi_category, high_conviction. Active across 1802 markets. Categories: Soccer 41.0%, Weather 21.6%, Esports 18.4%.",
                            "strategy_type": "directional"
                          },
                          "sync_status": "synced",
                          "synced_at": "2026-09-10T02:04:30.398422Z",
                          "username": "example_trader"
                        }
                      },
                      "meta": { "request_id": "req_example", "cached": false, "cost": 1 }
                    }
                  }
                }
              }
            },
            "headers": {
              "X-Query-Ignored": {
                "$ref": "#/components/headers/X-Query-Ignored"
              },
              "X-Effective-Query": {
                "$ref": "#/components/headers/X-Effective-Query"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "X-Usage-Accounting": {
                "$ref": "#/components/headers/X-Usage-Accounting"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/Server-Timing"
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current payload.",
            "headers": {
              "X-Query-Ignored": {
                "$ref": "#/components/headers/X-Query-Ignored"
              },
              "X-Effective-Query": {
                "$ref": "#/components/headers/X-Effective-Query"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-Usage-Accounting": {
                "$ref": "#/components/headers/X-Usage-Accounting"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/Server-Timing"
              }
            },
            "x-empty-body": true
          },
          "400": {
            "description": "Invalid request parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "402": {
            "description": "Active Pro subscription required. The key is valid but the account has no active Pro subscription; error.reason is subscription_inactive and error.message names the reactivation URL (https://0xinsider.com/billing). Permanent until a person reactivates: no Retry-After, never retry on a schedule.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Account access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "408": {
            "description": "The handler did not answer inside the server's 30-second timeout. error.code is request_timeout. On GET and HEAD the response carries Retry-After and error.retry_at; on a mutation it carries neither, because the request may have completed on the server: check its state before repeating it, and reuse its Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "423": {
            "description": "Account is locked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Three independent budgets. (1) 100 requests/minute per user (sliding window), on every authenticated route. (2) On the BATCH routes only: 2500 batch item units/minute per user, reserved before any item is executed. A batch with N requested items costs N item units, including duplicate and invalid items. 2500 = 100 requests x 25 items per batch, which is the most item work a key can buy through the request limiter at all: a caller may spend their entire 100-request minute on full 25-item batches without the item budget being what stops them. The REQUEST budget is the effective ceiling, and batching is never the more expensive choice. The item budget can still deny at a sliding-window boundary (both counters carry the previous window forward with a floor, and the item counter runs 25x the request counter), so honor a 429 from either. Over-quota batches return 429 with Retry-After plus RateLimit-Limit, RateLimit-Remaining, and RateLimit-Reset before any item work is done. (3) The monthly quota: Pro includes 250,000 authenticated requests per UTC calendar month, whatever the billing cadence. Over 250,000: with pay as you go on, requests keep answering and the excess bills at USD 0.20 per 1,000 on a monthly invoice, up to 1,000,000 requests a month; without it, from 1 October 2026 the next request answers 429 rate_limited with error.reason monthly_quota_exceeded and a Retry-After to the month's reset, and from the same day a pay-as-you-go account answers the same past 1,000,000. A refused request is not counted. Every authenticated response carries X-Monthly-Quota-Limit, X-Monthly-Quota-Remaining, and X-Monthly-Quota-Reset (unix seconds, the first of next month). (4) The per-address budget: 1200 requests/minute per IP, shared by every caller behind one address and counted before authentication, on every route. A 429 from it carries error.reason ip_rate_limited and describes that bucket in RateLimit-*; a throttled address (sustained over-limit traffic) carries error.reason ip_throttled with a Retry-After of minutes to days, and a request before it does not shorten the cooldown. Every 429 is the standard error envelope with meta.request_id equal to X-Request-Id.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until rate limit resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Redis-backed authenticated rate limiter unavailable; retry after the per-process outage cooldown",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the middleware will probe the Redis-backed rate limiter again.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -sS \\\n  -H \"Authorization: Bearer $OXINSIDER_API_KEY\" \\\n  'https://api.0xinsider.com/api/v1/trader/{address}/context'"
          }
        ],
        "x-examples": {
          "success": {
            "object": "trader_context",
            "data": {},
            "meta": {
              "request_id": "req_example",
              "cached": false,
              "cost": 1
            }
          }
        },
        "x-latency-budget": {
          "milliseconds": 250,
          "measurement": "response-ready",
          "requirement": "engineering-budget"
        }
      }
    },
    "/api/v1/traders/batch": {
      "post": {
        "operationId": "batchGetTraders",
        "summary": "Batch trader intelligence",
        "description": "Returns trader intelligence for 1-25 wallet addresses or known usernames. Results preserve request order, duplicate inputs return duplicate rows, and each item is charged one batch item unit before execution. Unknown trader lookups return data with sync_status \"unknown\" matching the single trader endpoint.",
        "tags": ["Traders"],
        "requestBody": {
          "description": "Batch trader lookup request. Supply 1-25 wallet addresses, usernames, trd_-prefixed IDs, or integer trader IDs. Optional expand flags apply to every item.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["traders"],
                "properties": {
                  "traders": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 25,
                    "description": "Trader identities to resolve in input order.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "expand": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": ["strategy", "categories", "quant_metrics", "trust"]
                    },
                    "description": "Shared expand flags applied to every trader item."
                  }
                }
              },
              "example": {
                "traders": ["swisstony", "0x0000000000000000000000000000000000000000"],
                "expand": ["strategy"]
              }
            }
          }
        },
        "parameters": [
          {"name": "X-Query-Validation", "in": "header", "required": false, "description": "Opt into strict query-name validation. The default is compatible: unknown names are ignored and reported in X-Query-Ignored. With strict, an unknown name returns 400 bad_request with error.reason unknown_query_parameter before the handler runs.", "schema": {"type": "string", "enum": ["strict"]}}
        ],
        "responses": {
          "200": {
            "description": "Ordered batch trader results",
            "headers": {
              "X-Query-Ignored": {
                "$ref": "#/components/headers/X-Query-Ignored"
              },
              "X-Effective-Query": {
                "$ref": "#/components/headers/X-Effective-Query"
              },
              "X-Request-Cost": {
                "schema": {
                  "type": "integer"
                },
                "description": "Number of batch item units charged for this request."
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Batch-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Batch item units allowed per minute."
              },
              "X-Batch-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Batch item units remaining in the current sliding window."
              },
              "X-Batch-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Unix timestamp when the batch item window resets."
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-Usage-Accounting": {
                "$ref": "#/components/headers/X-Usage-Accounting"
              },
              "Server-Timing": {
                "$ref": "#/components/headers/Server-Timing"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["object", "data", "meta"],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "trader_batch"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BatchTraderItem"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/BatchResponseMeta"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "object": "trader_batch",
                      "data": [
                        {
                          "index": 0,
                          "input": "0xabc1230000000000000000000000000000000abc",
                          "status": "ok",
                          "data": {
                            "id": "trd_0xabc1230000000000000000000000000000000abc",
                            "address": "0xabc1230000000000000000000000000000000abc",
                            "username": "example_trader",
                            "grade": "D",
                            "score": 40.17,
                            "pnl": { "total": -1882.16, "unrealized": 135.56 },
                            "stats": { "markets_traded": 1889, "win_rate": 0.6199, "daily_win_rate": 0.5299 },
                            "last_active": "2026-09-10T02:04:30.398422Z",
                            "synced_at": "2026-09-10T02:04:30.398422Z",
                            "sync_status": "synced"
                          }
                        },
                        {
                          "index": 1,
                          "input": "0xdef4560000000000000000000000000000000def",
                          "status": "ok",
                          "data": {
                            "id": "trd_0xdef4560000000000000000000000000000000def",
                            "address": "0xdef4560000000000000000000000000000000def",
                            "pnl": {},
                            "stats": {},
                            "sync_status": "unknown"
                          }
                        }
                      ],
                      "meta": {
                        "request_id": "req_example",
                        "cached": false,
                        "total_items": 2,
                        "successful_items": 2,
                        "failed_items": 0,
                        "request_cost": 2,
                        "rate_limit": {
                          "basis": "batch_items_per_minute",
                          "limit": 2500,
                          "remaining": 2492,
                          "reset": 1790047440
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "402": {
            "description": "Active Pro subscription required. The key is valid but the account has no active Pro subscription; error.reason is subscription_inactive and error.message names the reactivation URL (https://0xinsider.com/billing). Permanent until a person reactivates: no Retry-After, never retry on a schedule.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Account access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "408": {
            "description": "The handler did not answer inside the server's 30-second timeout. error.code is request_timeout. On GET and HEAD the response carries Retry-After and error.retry_at; on a mutation it carries neither, because the request may have completed on the server: check its state before repeating it, and reuse its Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "413": {
            "description": "The request body is over 1048576 bytes. error.code is bad_request, error.reason is payload_too_large and error.param is body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "415": {
            "description": "The body was not sent as Content-Type: application/json. error.code is bad_request, error.reason is unsupported_media_type and error.param is content-type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "423": {
            "description": "Account is locked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Three independent budgets. (1) 100 requests/minute per user (sliding window), on every authenticated route. (2) On the BATCH routes only: 2500 batch item units/minute per user, reserved before any item is executed. A batch with N requested items costs N item units, including duplicate and invalid items. 2500 = 100 requests x 25 items per batch, which is the most item work a key can buy through the request limiter at all: a caller may spend their entire 100-request minute on full 25-item batches without the item budget being what stops them. The REQUEST budget is the effective ceiling, and batching is never the more expensive choice. The item budget can still deny at a sliding-window boundary (both counters carry the previous window forward with a floor, and the item counter runs 25x the request counter), so honor a 429 from either. Over-quota batches return 429 with Retry-After plus RateLimit-Limit, RateLimit-Remaining, and RateLimit-Reset before any item work is done. (3) The monthly quota: Pro includes 250,000 authenticated requests per UTC calendar month, whatever the billing cadence. Over 250,000: with pay as you go on, requests keep answering and the excess bills at USD 0.20 per 1,000 on a monthly invoice, up to 1,000,000 requests a month; without it, from 1 October 2026 the next request answers 429 rate_limited with error.reason monthly_quota_exceeded and a Retry-After to the month's reset, and from the same day a pay-as-you-go account answers the same past 1,000,000. A refused request is not counted. Every authenticated response carries X-Monthly-Quota-Limit, X-Monthly-Quota-Remaining, and X-Monthly-Quota-Reset (unix seconds, the first of next month). (4) The per-address budget: 1200 requests/minute per IP, shared by every caller behind one address and counted before authentication, on every route. A 429 from it carries error.reason ip_rate_limited and describes that bucket in RateLimit-*; a throttled address (sustained over-limit traffic) carries error.reason ip_throttled with a Retry-After of minutes to days, and a request before it does not shorten the cooldown. Every 429 is the standard error envelope with meta.request_id equal to X-Request-Id.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until rate limit resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Redis-backed authenticated rate limiter unavailable; retry after the per-process outage cooldown",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the middleware will probe the Redis-backed rate limiter again.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -sS \\\n  -X POST \\\n  -H \"Authorization: Bearer $OXINSIDER_API_KEY\" \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"traders\":[\"swisstony\",\"0x0000000000000000000000000000000000000000\"],\"expand\":[\"strategy\"]}' \\\n  'https://api.0xinsider.com/api/v1/traders/batch'"
          }
        ],
        "x-examples": {
          "success": {
            "object": "trader_batch",
            "data": {},
            "meta": {
              "request_id": "req_example",
              "cached": false,
              "cost": 1
            }
          }
        },
        "x-latency-budget": {
          "milliseconds": 250,
          "measurement": "response-ready",
          "requirement": "engineering-budget"
        }
      }
    },
    "/api/v1/trader/{address}/position-timeline": {
      "get": {
        "operationId": "getPositionTimeline",
        "summary": "Get a trader's position timeline for one market",
        "description": "Returns stored Polymarket fills for one tracked trader in one market, newest first, with outcome-specific running_amount and running_avg_price including earlier stored fills before pagination. The {address} segment accepts the same identity shapes as the plural alias: wallet, username, trd_-prefixed trader id, bare integer traders.id, or @username, resolved with precedence @username -> wallet -> trd_ -> integer -> username. A leading @ resolves the rest as a username only, which is how to reach an all-digit username that the integer rule reads as an id. Only HOT and WARM traders are served; others return 404. The cumulative buy-weighted fill average is unchanged by sells. Split, merge, redemption and neg-risk activity are excluded; totals are not complete holdings or provider current-position avgPrice. Cursor-paginated; values stay stable across page sizes/cursors for unchanged source history.",
        "tags": ["Traders"],
        "parameters": [
          {"name": "X-Query-Validation", "in": "header", "required": false, "description": "Opt into strict query-name validation. The default is compatible: unknown names are ignored and reported in X-Query-Ignored. With strict, an unknown name returns 400 bad_request with error.reason unknown_query_parameter before the handler runs.", "schema": {"type": "string", "enum": ["strict"]}},
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Trader identity: 0x... wallet address, username, trd_-prefixed trader id, bare integer traders.id, or @username. Resolved with precedence @username -> wallet -> trd_ -> integer -> username (a leading @ forces a username lookup, for all-digit usernames); wallet matching is case-insensitive.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "condition_id",
            "in": "query",
            "required": true,
            "description": "Market condition_id. One timeline per (trader, market).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of timeline events to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor from previous response's next_cursor.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "description": "Conditional GET validator from a previous ETag. Matching values return 304 Not Modified with an empty body.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Position timeline page",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["object", "data", "has_more", "meta"],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PositionTimelineEvent"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string"
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total matching rows when the read model exposes a count; the key is absent when it does not."
                    },
                    "meta": {
[...]
